<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="post">
                <!-- form tag will make an HTTP POST (because of method="post") back to the same URL -->
                {% csrf_token %} <!-- The csrf_token creates a hidden input tag that contains a security token. -->
                {{ form.as_p }} <!-- The form.as_p creates all the HTML for the fields we defined on the RecipeForm -->
                <button>Delete</button>
            </form>
        </div>
    </main>
</body>
</html>