<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_object.name }}</h1>
            <a href="{% url 'todo_list_update' list_object.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' list_object.id %}">Delete</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list_object.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
                        </td>
                        <td>
                            {{ task.due_date|date:"M d, Y" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>